<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'notes/css/bootstrap.css' %}">
    <title>MY NOTES APP</title>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'notes/css/style.css' %}">
    
   
    <script src="{% static 'notes/js/jquery.js' %}"></script>
    <script src="{% static 'notes/js/myjs.js' %}"></script>
  </head>
  <body>
    {% include './navbar.html' %}

  
    
    {% include './addnotes.html' %}
    <div class="brand_nam display-1">My Notes</div>
    
    {% include './notes.html' %}
    
    <script src="{% static 'notes/js/popper.js' %}"></script>
    <script src="{% static 'notes/js/bootstrap.js' %}"></script>
    
  </body>
</html>